{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}
<!-- This template inherits layout.html
   The Entry prints the value of the 'entry' variable from user_entry -->
{% block body %}
    
    
    {{ box_content | safe }}

    <form action="{% url 'edit_page' %}" method="post">
        {% csrf_token %} 
        <input type="hidden" name="entry_title" value="{{ title }}">
        <input type="submit" value="Edit" class="btn btn-danger"> 
    </form>
{% endblock %}