{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'save_edit' %}", method="post">
        {% csrf_token %}
            <label>Title:</label>
            <input type="text" name="title" placeholder="Enter title here" value="{{title}}">
            <br>
            <label for="newpage">Markdown Text:</label>
            <br>
            <textarea name="box_content" value="{{box_content}}" >{{ box_content }}</textarea> 
            <input type="submit" value="Save" class="btn btn-primary">
        
        
    </form>

{% endblock %}